@media screen and (max-width: 1000px) {
  .about-us {
    &__team-member-empty {
      .ui-button {
        width: 90%;
        padding: 5px 0;
      }
    }
  }
  .contact {
    .contact__form-input {
      &-name, &-email, &-message {
        min-width: 100% !important;
        margin-top: 10px;
        margin-right: 0;
      }
      &-name {
        // margin-right: 20px;
      }
    }
    &::before {
      top: 0;
      height: 50%;
      width: 100%;
    }
    &__form {
      margin-top: 80px;
    }
    &__content {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: 950px) {
  .our-clients__logos {
    max-width: 800px;
    justify-content: center;
    margin: 0 auto;
  }
  .our-clients__logo {
    margin: 10px;
  }
  .about-us {
    &__team-member-empty {
      .member-empty__line {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .member-empty__title {
        font-size: 18px;
      }
      .ui-button-small {
        width: 90%;
        padding: 5px 0 !important;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .about-us {
    &__team-member {
      width: calc(50% - 30px);
      .about-us__member-name {
        font-size: 18px;
      }
      .about-us__member-position {
        font-size: 14px;
      }
    }
  }
  .our-work {
    &__images {
      margin-top: 30px;
    }
    &__types {
      justify-content: flex-start;
    }
    &__type {
      font-size: 16px;
    }
    &__image {
      margin-right: 5px;
      margin-left: 5px;
      width: calc(33% - 10px);
      .image__content {
        &-title {
          font-size: 14px;
        }
        &-name {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .main-header {
    &__title {
      font-size: 38px;
    }
  }
  .section-text {
    font-size: 16px;
  }
  .ui-button {
    padding: 20px 30px;
    &-small {
      padding: 16px 26px !important;
      .ui-button__text {
        font-size: 18px !important;
      }
    }
    &__text {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 580px) {
  .our-work {
    &__image {
      margin-right: 5px;
      margin-left: 5px;
      width: calc(50% - 10px);
    }
  }
  .video-section {
    height: 300px;
  }
  .image-section {
    height: 300px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // IE10-11 STYLES
  .contact {
    justify-content: flex-start;
    min-height: 0px;
    padding: 80px 0;
  }
  .introduction__title {
    margin-top: 115px;
  }
  .image-section {
    .ui-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
    &::before {
      display: none;
    }
  }
  #video-section__video {
    top: -200px;
    height: auto !important;
  }
}